<%= form_with(model: movie, url: admin_movies_path, method: :patch) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this obj from being saved:</h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :year %>
  <%= form.number_field :year %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :image_url %>
  <%= form.text_field :image_url %>

  <%= form.label :is_showing %>
  <%= form.check_box :is_showing %>

  <%= form.submit "更新"%>
<% end %>